.bonus > .wrapper {
	background: #841926;
	padding: 20px;
	border-radius: 10px;
	color: var(--w);
}
/*bonus_title*/
.bonus_title {
	padding-bottom: 20px;
	text-align: center;
}
.bonus_title h2 {
	line-height: 1em;
	margin-bottom: 20px;
	font-weight: bold;
}
.bonus_title h4 {
	line-height: 1em;
	margin-bottom: 20px;
	font-weight: bold;
}
.bonus_title p:not(:last-child) {
	margin-bottom: 10px;
}
/*bonus_container*/
.bonus_block {
	width: calc( (100% - 20px) / 3 );
}
.bonus_block {
	text-align: left;
}
.bonus_block h4 {
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1em;
	margin: 10px 0;
}
.bonus_block img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
@media screen and (max-width: 767px) {
	.bonus > .wrapper {
	    max-width: 100%;
	    width: 100%;
	    border-radius: 0;
	}
	/*bonus_container*/
	.bonus_block {
		width: 100%;
		max-width: 400px;
		margin: 0 auto 20px auto;
	}
}